

body {
    background-color: #5a3a2a; 
    background-image: url('img/background_pattern.png');
    background-repeat: repeat; 
    background-size: 600px auto;
}


.promo-section {
    width: 95%;
    max-width: 1600px;
    margin: 0 auto; 
    margin-top: -15px; 
    margin-bottom: 50px; 
    text-align: center;
    z-index: 500;
    position: relative;
}

.promo-section img {
    width: 100%;
    height: auto;
    transform: none; 
    display: block;
    filter: drop-shadow(0 5px 5px rgba(0,0,0,0.3));
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    padding-top: 50px; 
}

.panel-link {
    display: block;
    text-decoration: none;
    width: 100%;
    max-width: 350px; 
    transition: transform 0.3s ease;
}

.panel-link img {
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
}

.panel-proyectos { transform: rotate(-5deg); }
.panel-jukebox { transform: rotate(8deg) translateY(20px); }
.panel-about { transform: rotate(5deg); }
.panel-contact { transform: rotate(-5deg); }

.panel-link:hover {
    transform: scale(1.1) rotate(0deg);
    z-index: 10;
}

@media (max-width: 768px) {
   
    .promo-section {
        width: 98%;
        margin-top: -25px; 
    }
}